<div class="contents_row">
  <div class="info_update">
    <div class="col-xs-12">
      <%= form_for current_user do |f| %>
        <h2>プロフィール画像</h2>
        <div class="form-group file">
          <%= f.file_field :avatar, class: 'form-control floating-label', placeholder: '画像アップロード' %>
        </div>

        <h2>登録情報</h2>
        <p>*は必須項目です</p>
        <div class="form-group">
          <div class = "each_label clearfix">
            <div class="label_name">
              *性：
            </div>
            <div class="label_content">
              <%= f.text_field :family_name, placeholder: '山田', class: 'form-control', required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *名：
            </div>
            <div class="label_content">
              <%= f.text_field :first_name, placeholder: '太郎', class: 'form-control', required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *セイ：
            </div>
            <div class="label_content">
              <%= f.text_field :family_name_kana, placeholder: 'ヤマダ', class: 'form-control', required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *メイ：
            </div>
            <div class="label_content">
              <%= f.text_field :first_name_kana, placeholder: 'タロウ', class: 'form-control', required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *ニックネーム：
            </div>
            <div class="label_content">
              <%= f.text_field :nickname, placeholder: '5文字以内', class: 'form-control', :maxlength => 5, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              facebook：
            </div>
            <div class="label_content">
              <%= f.text_field :facebook, placeholder: 'facebookのURL', class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              twitter：
            </div>
            <div class="label_content">
              <%= f.text_field :twitter, placeholder: 'twitterのURL', class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *性別：
            </div>
            <div class="label_content position_fix">
              <%= f.select :gender, Settings.gender, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *滞在国：
            </div>
            <div class="label_content">
              <%= f.select :country, Settings.country, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *帰国予定日程：
            </div>
            <div class="label_content">
              <%= f.text_field :return_date, placeholder: '例：2016年6月', class: 'form-control', required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *滞在期間：
            </div>
            <div class="label_content position_fix">
              <%= f.select :duration, Settings.duration, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *学問体系：
            </div>
            <div class="label_content position_fix">
              <%= f.select :study_field, Settings.study_field, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *志望大学①：
            </div>
            <div class="label_content position_fix">
              <%= f.select :university_one, Settings.university, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望大学②：
            </div>
            <div class="label_content position_fix">
              <%= f.select :university_two, Settings.university, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望大学③：
            </div>
            <div class="label_content position_fix">
              <%= f.select :university_three, Settings.university, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望大学④：
            </div>
            <div class="label_content position_fix">
              <%= f.select :university_four, Settings.university, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望大学⑤：
            </div>
            <div class="label_content position_fix">
              <%= f.select :university_five, Settings.university, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *志望学部①：
            </div>
            <div class="label_content position_fix">
              <%= f.select :faculty_one, Settings.faculty, class: 'form-control', :include_blank => true, required: true %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望学部②：
            </div>
            <div class="label_content position_fix">
              <%= f.select :faculty_two, Settings.faculty, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望学部③：
            </div>
            <div class="label_content position_fix">
              <%= f.select :faculty_three, Settings.faculty, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望学部④：
            </div>
            <div class="label_content position_fix">
              <%= f.select :faculty_four, Settings.faculty, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              志望学部⑤：
            </div>
            <div class="label_content position_fix">
              <%= f.select :faculty_five, Settings.faculty, :include_blank => true, class: 'form-control' %>
            </div>
          </div>
          <div class = "each_label clearfix">
            <div class="label_name">
              *自己紹介：
            </div>
            <div class="label_content special">
              <%= f.text_area :introduction, placeholder: '自己紹介(100文字以内)', class: 'form-control', :maxlength => 104, required: true %>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="submit_button">
              <%= f.submit "登録", :class => 'btn btn-primary withripple' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>