<!DOCTYPE html>
<html>
<head>
  <title>Returnees Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'common/header' %>

  <%= yield %>
<footer>
<hr>
<p>copyright(C) All Rights Reserved.</p>
</footer>
</body>
</html>
